.skills {
    padding: 80px 20px;
    background-color: #0A0A23;
    
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  
  .skills h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #FFF;
  }
  
  .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-size: 3rem;
  }
  
  .icons svg {
    transition: transform 0.3s ease;
  }
  
  .icons svg:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  