.contact {
  padding: 80px 20px;
  background-color: #0A0A23;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background: linear-gradient(to right, #0a0a23, #0a0a23 70%, #0a1c33);
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
}

.inputWrapper {
  width: 100%;
  
}

.inputWrapper input,
.inputWrapper textarea {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  border: 2px solid #61dafb;
  background-color: #0A0A23;
  color: #ffffff;
  font-size: 1rem;
  outline: none;
  position: relative;
  animation: flash 1.5s infinite;
}


@keyframes flash {
  0%, 100% {
    box-shadow: 0 0 0 0 rgba(97, 218, 251, 0.3);
  }
  50% {
    box-shadow: 0 0 15px 5px rgba(97, 218, 251, 0.8);
  }
}



button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4bbbe0;
}
