.direct {
    padding: 60px 20px;
    background-color: #0A0A23;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: linear-gradient(to left, #0a0a23, #0a0a23 70%, #0a1c33);
  }
  
  .direct h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  
  }
  
  .icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 2.5rem;
  
  }
  
  .icons a {
    position: relative;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
    transition: transform 0.3s ease;
  }
  

  .icons a:hover {
    transform: scale(1.2);
    color: #61dafb;
    text-shadow: 0 0 10px rgba(97, 218, 251, 0.8);
  }
  
  @media (max-width: 500px) {
    .icons {
      flex-wrap: wrap;
      gap: 20px;
      font-size: 2rem;
    }
  
    .icons a {
      width: 40%;
    }
  }
  
  